body {
    
    background-color: #98a798; 
    margin: 0;
    padding: 0;
    font-size: 16px;
}


h1, h2, h3 {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    color: #005f73; 
}


.content-block p {
    font-family: Georgia, serif; 
    color: #333333; 
    line-height: 1.6;
}


#header-div {
    background-image: url('../img/back.png'); 
    background-size: cover; 
    background-position: center; 
    color: black;
    background-color: #e9ecef; 
    padding: 40px 20px;
    text-align: center;
    border-bottom: 5px solid #005f73;
}


.content-block {
    width: 85%;
    max-width: 1000px;
    margin: 30px auto; 
    padding: 20px;
}


#footer-div {
    background-color: #212529; 
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}


.video-wrapper, .image-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid #005f73;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.custom-ordered-list {
    margin-left: 25px;
}


.tableau-block {
    background-color: #ffffff;
    padding: 40px 20px;
    border: 1px dashed #cccccc;
    text-align: center;
}